@import 'App';

.add-todo-container {
  max-width: 1100px;
  margin: 0 auto;  
}

.add-todos-title {
  border-bottom: 1px solid $mainColor;  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-long-arrow-alt-left {
  color: $mainColor;
  cursor: pointer;
}

.main-background-form {
  height: 100%;  
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  height: 400px;
  width: 350px;
  border-radius: 4px;
  background-color: #f1f1f1;  
}

.add-todo-form {
  padding: 25px; 
  h3 {
    border-bottom: 1px solid $secondaryColor;  
  } 
}

.text-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid $secondaryColor;
  border-radius: 4px;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid $secondaryColor;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $secondaryColor;
    transition: all 0.2s ease-in-out;  
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .add-todo-container {
    margin: 155px 0;
  }
}
