@import 'App';

.todos-container {
  margin: 0 auto;
  max-width: 1000px;
}

.todos-title {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  h2 {
      color: $mainColor;
  }
}

.fa-plus-square {
  cursor: pointer;
  color: $mainColor;
}

.todos-list {
  border: 1px solid $mainColor;
  padding: 10px; 
  border-radius: 4px; 
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;  
  padding: 10px;
}

.card {
  border: 1px solid $secondaryColor;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  width: 100%;  
  background-color: $secondaryColor;
}

.card-header {
  border-bottom: 1px solid $mainColor;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.fa-trash {
  cursor: pointer;
  color: $mainColor; 
  margin: 0 10px; 
}

.fa-edit {
  cursor: pointer;
  color: $mainColor; 
}

.card-error {
  padding: 5px;
  border: solid 1px $mainColor;
  border-radius: 4px;
  margin: 0 auto;
}

@media screen and (max-width: $breakpoint-sm) {
  .flex-container {
    padding: 1px;
  }
  .todos-container {
    margin: 155px 0;
  }
}